* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    color: gray !important;
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.navbar {
    background-image: url('/www/img/logo-hype.jpeg');
    background-repeat: no-repeat;
    background-size: 300px 90px;
    background-color: black !important;
}

.navbar-toggler {
    background-color: white;
}

.card {
    margin: 5px;
    padding: 3px;
}

.card-body {
    border-top: solid black 1px;
}

.container-card {
    padding-top: 10px;
    background-color: black;
}

.container-card h3 {
    color: white !important;
    text-align: center;
    ;
}

.footer {
    padding: 5px;
    background-color: black;
}